@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

body {
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0px;
    color: #494949;
}

a {
  text-decoration: none;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0px;
  color: white;
}

.banner h1 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
}

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.container h2 {
  color: #A0A0A0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.link-medium {
  /*background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));*/
  background-color: rgba(233, 253, 240, 1);
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
  background-color: rgba(125, 255, 179, 1);
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
